$primary-Color: #030616;
$secondary-color: whitesmoke;
$accent-color: wheat;
@mixin pad {
  @media only screen and (min-width: 800px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 970px) {
    @content;
  }
}
@mixin small {
  @media only screen and (max-width: 400px) {
    @content;
  }
}
.__backup{

    .backup-cont{
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        flex-direction: column;
        gap: .5rem;
        text-transform: uppercase;

        .h6{
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
}