div.box {
  flex: 1;
  width: 100%;
  height: auto;
  background-color: white;
  // margin: .2rem .7rem;
  //   min-width: 200px;
  border-radius: 10px;
  padding: 1rem 1.5rem 0.5rem;

  h5 {
    font-weight: bold;
  }
  i + div {
    margin: 1rem 0;
  }
}
