$primary-Color: #030616;
$secondary-color: whitesmoke;
$accent-color: wheat;
@mixin pad {
  @media only screen and (min-width: 800px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 970px) {
    @content;
  }
}
@mixin small {
  @media only screen and (max-width: 400px) {
    @content;
  }
}

.__debtors,
.__statements {
  width: 100%;
  height: 100%;

  @include pad {
    height: auto;
    // overflow: auto;
    margin: 0rem 0 2rem;
  }
  @include small {
    padding: 0;
  }

  .search-container {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    gap: 0.5rem;
    align-items: center;
    // flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem 0.3rem;
    @include pad {
      border: 1px solid gainsboro;
      border-radius: 5px;
      padding-left: 0.5rem;
      padding-top: 1rem;
    }

    @include desktop {
      padding-right: 1.5rem;
      flex-direction: row;
    }
    @media screen and (max-width: 860px) {
      padding-left: 0.3rem;
      padding-right: 0.5rem;
    }
    @include small {
      gap: 0.8rem;
      flex-wrap: wrap;
    }
    .input-filter-cont {
      flex: 1;
      width: 100%;
      // border-radius: 5px;
      // padding: 0rem;
      // display: flex;
      // flex-wrap: nowrap;
      // align-items: center;
      // padding: 0;
      // max-height: 45px;
      // // overflow: hidden;
      // position: relative;

      // @include pad {
      //   width: 100%;
      //   max-height: 40px;
      // }
      // @include desktop {
      //   width: 80%;
      // }
      // @media screen and (min-width: 1020px) {
      //   width: 50%;
      // }
      // @media screen and (min-width: 1050px) {
      //   width: 30%;
      // }
      span {
        width: 100%;
        min-width: 300px;

        @include desktop {
          min-width: 300px;
        }
      }
      input {
        width: 100%;
        // height: 42px;
      }
    }
    .p-dropdown {
      flex: 1;
      width: 100%;
      min-width: 150px;
      @include desktop {
        max-width: 100%;
      }
    }
    .filter {
      background-color: #c5d7e5;
      border: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:focus {
        background-color: transparent;
        border: 1px solid gray;
      }
    }
    .btn-cont {
      // width: 30%;
      display: flex;
      flex-wrap: wrap;

      button {
        transform: scale(0.87);
      }
    }
  }
  .debtors-table {
    @include pad {
      width: 100%;
      padding-left: 0rem;
      padding-top: 0.5rem;
    }

    @media screen and (max-width: 860px) {
      padding-left: 0.3rem;
    }
    @media screen and (max-width: 600px) {
      padding-left: 0;
      max-width: 100%;
      overflow: auto;
    }
    table {
      border: 1px solid gainsboro;
      width: 100%;
      margin: 0.5rem 0;
      padding: 0.7rem 0;
      @include pad {
        padding: 1rem;
        width: 100%;
      }
      @media screen and (min-width: 1200px) {
        width: 100%;
      }
      thead {
        background-color: black;
        color: white;
      }
      tr {
        // line-height: 10px;
        td,
        th {
          text-transform: uppercase;
          padding: 0.2rem 0.12rem;
          vertical-align: middle;
          // font-size: .7rem;
          font-size: small;

          @include pad {
            padding: 0.4rem;
            font-size: 0.9rem;
            // font-size: initial;
          }
          @include small {
            // text-align: center;
          }
        }
        th {
          border-right: none;

          &:nth-child(2) {
            text-align: center;
            @include pad {
              text-align: left;
            }
          }
          &:nth-child(4) {
            text-align: center;
            @include pad {
              text-align: left;
            }
          }
        }
      }
    }
    &::-webkit-scrollbar {
      width: 0.1rem !important;
      height: 0.4rem;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: gray;
      outline: none;
    }
  }

  table:has(.loading) {
    min-height: fit-content;
  }
}
