.__settings {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
@media only screen and (min-width: 740px) {
  .__settings {
    height: auto;
    margin: 0rem 0 2rem;
  }
}
.__settings .container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 100%;
  padding-left: 0rem;
  font-family: "calibri Light";
  margin-top: 0.4rem;
}
@media only screen and (min-width: 740px) {
  .__settings .container {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
  }
}
.__settings .container .classes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  font-size: small;
}
@media only screen and (min-width: 740px) {
  .__settings .container .classes {
    width: 50%;
  }
}
@media only screen and (min-width: 970px) {
  .__settings .container .classes {
    width: 80%;
  }
}
.__settings .container .classes .add-class-cont,
.__settings .container .classes .add-session-cont,
.__settings .container .classes .add-term-cont,
.__settings .container .classes .add-payment-method-cont,
.__settings .container .classes .add-payment-for-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.__settings .container .classes .add-class-cont .p-dropdown,
.__settings .container .classes .add-session-cont .p-dropdown,
.__settings .container .classes .add-term-cont .p-dropdown,
.__settings .container .classes .add-payment-method-cont .p-dropdown,
.__settings .container .classes .add-payment-for-cont .p-dropdown {
  flex: 1;
  min-width: 80px;
}
.__settings .container .classes .add-class-cont .class-select,
.__settings .container .classes .add-session-cont .class-select,
.__settings .container .classes .add-term-cont .class-select,
.__settings .container .classes .add-payment-method-cont .class-select,
.__settings .container .classes .add-payment-for-cont .class-select {
  margin-right: 1rem;
  min-width: 120px;
  margin-top: 0.3rem;
}
.__settings .container .classes .add-class-cont .btn-add-cont,
.__settings .container .classes .add-session-cont .btn-add-cont,
.__settings .container .classes .add-term-cont .btn-add-cont,
.__settings .container .classes .add-payment-method-cont .btn-add-cont,
.__settings .container .classes .add-payment-for-cont .btn-add-cont {
  flex: 1;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 740px) {
  .__settings .container .classes .add-class-cont .btn-add-cont,
  .__settings .container .classes .add-session-cont .btn-add-cont,
  .__settings .container .classes .add-term-cont .btn-add-cont,
  .__settings .container .classes .add-payment-method-cont .btn-add-cont,
  .__settings .container .classes .add-payment-for-cont .btn-add-cont {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.__settings .container .classes .add-class-cont i,
.__settings .container .classes .add-session-cont i,
.__settings .container .classes .add-term-cont i,
.__settings .container .classes .add-payment-method-cont i,
.__settings .container .classes .add-payment-for-cont i {
  flex: 1;
}
.__settings .container .classes .upload-logo form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.__settings .container .classes .upload-logo form label {
  width: 100%;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 2px dashed #5a5a5a;
  align-self: flex-start;
}
.__settings .container .classes .upload-logo .preview {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 2rem 0;
}
@media only screen and (min-width: 740px) {
  .__settings .container .classes .upload-logo .preview {
    width: 50%;
    margin: 0;
  }
}
.__settings .container .classes .upload-logo .preview img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 350px;
  border-radius: 6px;
  -o-object-position: top;
     object-position: top;
}
@media only screen and (min-width: 740px) {
  .__settings .container .classes .upload-logo .preview img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    max-height: 200px;
  }
}
.__settings .container .classes .color-picker select {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border: 1px solid grey;
  border-radius: 5px;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: -moz-max-content;
  width: max-content;
  min-width: 80px;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 740px) {
  .__settings .container .classes .color-picker select {
    width: -moz-max-content;
    width: max-content;
  }
}
.__settings .container .classes .color-picker .btn-outline-dark {
  margin-top: 0.5rem;
}
.__settings .container .fees-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 740px) {
  .__settings .container .fees-cont {
    width: auto;
    padding-right: 0.5rem;
  }
}
@media only screen and (min-width: 970px) {
  .__settings .container .fees-cont {
    width: 100%;
  }
}
.__settings .container .fees-cont .add-btn {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.__settings .container .fees-cont table {
  font-size: 14.5px;
  margin: 0.5rem 0;
  border-radius: 10px !important;
}
@media only screen and (min-width: 740px) {
  .__settings .container .fees-cont table {
    font-size: 15px;
  }
}
.__settings .container .fees-cont table tr {
  text-transform: uppercase;
}
.__settings .container .fees-cont table tr td,
.__settings .container .fees-cont table tr th {
  padding: 0.5rem;
  text-align: left;
  font-family: "calibri Light";
}
.__settings .container .fees-cont table tr .action-cont {
  display: flex;
  padding: 0;
}
.__settings .container .fees-cont table tr .action-cont div {
  flex: 1;
  display: flex;
}
.__settings .container .fees-cont table tr .action-cont div button {
  cursor: pointer;
  flex: 1;
}
.__settings .container .fees-cont table .loading {
  vertical-align: baseline;
  text-align: center;
}
.__settings .container .fees-cont table button {
  width: 100%;
  height: 100%;
  flex: 1;
  border: none;
  background-color: transparent;
  gap: 0;
}
.__settings .container .fees-cont table button:first-child {
  margin: 0;
  padding: 0;
}
.__settings .container .modal-body {
  overflow: hidden;
}
.__settings .container .modal-body .content .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.__settings .container .modal-body .content .inputs-container .info {
  background-color: #5499dd;
  padding: 1rem;
  border-radius: 5px;
}
.__settings .container .modal-body .content .inputs-container .input-cont {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: small;
}
.__settings .container .modal-body .content .inputs-container .input-cont input {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  border: 1px solid #cecccc;
}/*# sourceMappingURL=settings.css.map */